{% extends 'layout.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/editor.css">

    <div id="editor">Hello Summernote</div>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            $('#editor').summernote({
                focus: true,
                onChange: function(contents) {
                    $.ajax({
                        url: '/convert',
                        type: 'POST',
                        data: {
                            html: $('#editor').code()
                        },
                        success: function(data) {
                            console.log(data);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
