Flask==0.10.1
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.15.3
argh==0.26.1
argparse==1.4.0
click==6.2
colorama==0.3.3
docutils==0.12
gfm==0.0.3
html2text==2015.11.4
itsdangerous==0.24
linecache2==1.0.0
lockfile==0.12.2
lxml==3.5.0
pathtools==0.1.2
py-gfm==0.1.1
python-daemon==2.1.0
six==1.10.0
traceback2==1.4.0
unittest2==1.1.0
watchdog==0.8.3
