{% extends 'layout.html' %}

{% block content %}

    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.2/summernote.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/editor.css">

    <select name='notebook'>
        {% for notebook in notebooks %}
            <option value="{{ notebook.path.abs }}">{{ notebook.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="title" value="{{ title }}" />
    <input type="checkbox" name="save_as_markdown" checked> Save as Markdown

    <button class='js-delete'>Delete</button>

    <div id="editor"></div>

    <script type="text/javascript" charset="utf-8">
        $(function() {
            var lock = false,
                $title = $('input[name=title]'),
                $notebook = $('select[name=notebook]'),
                $editor = $('#editor'),

                // Keep track of current values
                // so the backend can tell if they have changed.
                title = $title.val(),
                notebook = $notebook.val(),
                html = $editor.code();

            function destroy() {
                if (confirm('Are you sure you want to delete this note and its resources?')) {
                    var data = {
                        title: title,
                        notebook: notebook
                    };
                    $.ajax({
                        url: '/note',
                        type: 'DELETE',
                        data: data,
                        success: function() {
                            location.reload();
                        }
                    })
                }
            }

            function save() {
                var data = {
                    html: $editor.code(),
                    title: title,
                    notebook: notebook,
                    save_as_markdown: $('input[name=save_as_markdown]').is(':checked'),

                    // New values, so we can
                    // move/remove the old note.
                    'new': {
                        title: $title.val(),
                        notebook: $notebook.val()
                    }
                };

                if (!lock) {
                    lock = true;
                    $.ajax({
                        url: '/note',
                        type: 'POST',
                        data: data,
                        success: function(d) {
                            lock = false,
                            old_title = title;

                            // Update current values.
                            title = data.new.title;
                            notebook = data.new.notebook;
                            html = data.html;

                            if (old_title !== title) {
                                update_resource_references(old_title, title);
                            }
                        },
                        error: function(jqxhr, textStatus, err) {
                            // Note already exists, change the title.
                            if (err === 'CONFLICT') {
                                $title.val(data.title + ' COPY');
                            }
                        }
                    });
                }
            }

            $editor.summernote({
                focus: true,
                onChange: save,
                onImageUpload: function(files, editor, $editable) {
                    for (var i=0;i<files.length;i++) {
                        var file = files[i];
                        var data = new FormData();
                        data.append('file', file);
                        data.append('title', title);
                        data.append('notebook', notebook);
                        $.ajax({
                            data: data,
                            type: 'POST',
                            url: '/upload',
                            cache: false,
                            contentType: false,
                            processData: false,
                            async: false,
                            success: function(url) {
                                editor.insertImage($editable, url);
                            }
                        });
                    }
                }
            });

            $title.on('change', save);
            $notebook.on('change', save);
            $('button.js-delete').on('click', destroy);

            setInterval(function() {
                // If the last saved code does not
                // reflect the current code...
                if (html !== $editor.code()) {
                    save();
                }
            }, 1000);

            // Re-write all references to the old resources folder
            // to point to the new resources folder.
            function update_resource_references(old_title, new_title) {
                var html = $editor.code(),
                    old_ref = '_resources/'+old_title,
                    new_ref = '_resources/'+new_title;

                html = html.replace(old_ref, new_ref);
                $editor.code(html);
                save();
            }
        });
    </script>
{% endblock %}
