{% extends 'layout.html' %}

{% macro render_tree(tree) -%}
  <ul>
    {% for notebook in tree %}
      {% if notebook is iterable %}
        {{ render_tree(notebook) }}
      {% else %}
        <li><a href="/{{ notebook.path.rel + '/' }}">{{ notebook.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endmacro %}

{% macro keybinding(key, tip) -%}
  <li>
    <figure>
      <span class="key">{{ key }}</span>
      <figcaption>{{ tip }}</figcaption>
    </figure>
  </li>
{%- endmacro %}

{% block content %}

  <main role="main">
    <div class="breadcrumbs"></div>
    <nav>
      <ul>
        <li class="js-notebooks">notebooks</li>
        <li class="js-notes">notes</li>
        <li class="js-note">note</li>
      </ul>
    </nav>
    <div class="viewer">
      <div class="note"></div>
      <div class="notebooks">
        <form name="notebook">
          <input type="text" name="notebook" placeholder="filter notebooks" />
        </form>
        {{ render_tree(tree) }}
      </div>
      <div class="notes">
        <form action="/search" method="POST" name="search">
          <input type="text" name="query" placeholder="search all notes" />
        </form>
        <div class="notes--list">
        </div>
      </div>
    </div>
    <div class="protips">
      <h6>ctrl +</h6>
      <ul>
        {{ keybinding('n', 'notes/search') }}
        {{ keybinding('b', 'notebooks') }}
        {{ keybinding('v', 'view note') }}
        {{ keybinding('e', 'edit note') }}
        {{ keybinding('x', 'cancel edits') }}
        {{ keybinding('s', 'save edits') }}
      </ul>
    </div>
  </main>

  <script type="text/javascript" src="/static/vendor/requirejs/require.js" data-main="/static/app/config"></script>

{% endblock %}
