{% macro render_tree(tree) -%}
    <ul>
        {% for notebook in tree %}
            {% if notebook is iterable %}
                {{ render_tree(notebook) }}
            {% else %}
                <li><a href="{{ notebook.path.rel + '/' }}">{{ notebook.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>nomadic</title>

    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>

<body>
    <form action="http://localhost:9137/search" method="POST" name="search">
        <input type="text" name="query" />
        <button type="submit">Search</button>
    </form>

    <main role="main">
        <nav>
            <ul>
                <li class="js-show-notebooks">notebooks</li>
                <li class="js-show-notes selected-nav">notes</li>
            </ul>
            <div class="notebooks">
                {{ render_tree(tree) }}
            </div>
            <div class="notes"></div>
        </nav>
        <div class="note"></div>
    </main>

    <script type="text/javascript" src="/static/vendor/requirejs/require.js" data-main="/static/app/config"></script>

</body>
</html>
