.note-editor {
    top: 3.5em;
}

.note-editable {
    min-height: 400px;
}

.editor-controls {
    padding: 2em 2em 0 2em;
}

input[type=checkbox] {
    width: auto;
    height: auto;
}
button {
    display: block;
}
