<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.nomadic</string>

    <key>Program</key>
    <string>/usr/local/bin/nomadic-d</string>

    <key>HardResourceLimit</key>
    <dict>
        <key>NumberOfProcesses</key>
        <integer>1</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/nomadic.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/nomadic.err</string>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
