{% macro breadcrumbs(crumbs, note=False) -%}
    <ul class="crumbs">
        {% for crumb in crumbs %}
            <li>
                {% if loop.length != loop.index %}
                    {% set times = loop.length - loop.index %}
                    {% if note %}
                        {% set times = times - 1 %}
                    {% endif %}
                    <a href="{{ '../'*times }}index.html">{{ crumb }}</a> &#8594;
                {% else %}
                    {{ crumb }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}
