{% from 'macros.html' import breadcrumbs %}
{% extends 'layout.html' %}

{% block content %}
    {{ breadcrumbs(crumbs) }}

    {% if notebooks %}
        <ul class="notebooks">
            {% for notebook in notebooks %}
                <li><a href="{{ notebook.name }}/index.html">{{ notebook.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="notes">
        {% for note in notes %}
            <li>
                <a href="./{{ note.buildname|urlencode }}">
                    <span>{{ note.title }}</span>
                    <p>{{ note.excerpt }}</p>
                    {% if note.images %}
                        <ul class="thumbs">
                            {% for img in note.images %}
                                <img src={{ img }}>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
