<% for (var i in notes) { %>
    <% var note = notes[i]; %>
    <a href="/<%= note.url %>">
        <li>
            <span><%= note.title %></span>
            <p><%= note.excerpt %></p>
            <% if (note.images && note.images.length > 0) { %>
                <ul class="thumbs">
                    <% for (var j in note.images) { %>
                        <% var ref = note.images[j]; %>
                        <% if (ref.indexOf('.pdf', ref.length - 4) !== -1) { %>
                            <span>PDF</span>
                        <% } else { %>
                            <img src="<%= ref %>">
                        <% } %>
                    <% } %>
                </ul>
            <% } %>
        </li>
    </a>
<% } %>
